@page "/"

<PageTitle>Index</PageTitle>


<div style="height:80vh; display:flex;justify-content:center; flex-direction:column; align-items:center">
    <img src="/images/logobkkbn.png" style="width:15%; margin-bottom:50px" />
    <h1 style="color:white">SELAMAT DATANG</h1>
    <h1 style="color:white">PELAYANAN ALAT KONTRASEPSI KB</h1>
    <h1 style="color:white">BPKS DPPKB KABUPATEN JAYAPURA</h1>
    
    
    
    
    <h6 style="color:white; margin-top:100px">Untuk Mendaftar !</h6>


    
<a class="btn btn-info" href="https://github.com/Ocph23/KontrasepsiSolution/suites/7882840554/artifacts/334671372">DOWNLOAD ANDROID APP</a>


</div>

@code{

}