<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Admin</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <RadzenPanelMenu Style="width:100%">
            <RadzenPanelMenuItem Text="Home" Path="admin" Icon="home"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Petugas" Path="/admin/petugas" Icon="people"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Alat Kontrasepsi" Path="/admin/alatkontrasepsi" Icon="settings"></RadzenPanelMenuItem>
        </RadzenPanelMenu>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
