@inherits LayoutComponentBase
<RadzenDialog/>
<RadzenNotification/>
<RadzenContextMenu/>
<RadzenTooltip/>



@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager navManager

<PageTitle>MainWeb</PageTitle>

<div class="page">
    <main>
        <div class="top-row px-4">
          <a style="font-size:20px" href="Identity/Account/Login">Log in</a>
        </div>  

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>



@code{
    protected override async Task OnInitializedAsync()
    {

        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

      
         if (user.IsInRole("Admin"))
        {
            navManager.NavigateTo("/admin",true);
            return;
        }

           if (user.IsInRole("Petugas"))
        {
            navManager.NavigateTo("/petugas",true);
            return;
        }


    }

}

