<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">MainWeb</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <RadzenPanelMenu Style="width:100%">
            <RadzenPanelMenuItem Text="Home" Icon="home">
                <RadzenPanelMenuItem Text="Buttons" Path="buttons" Icon="account_circle"></RadzenPanelMenuItem>
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Inputs" Icon="payment">
                <RadzenPanelMenuItem class="menu_child" Text="CheckBox" Path="checkbox" Icon="check_circle"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="DatePicker" Path="datepicker" Icon="date_range"></RadzenPanelMenuItem>
            </RadzenPanelMenuItem>
           
    </RadzenPanelMenu>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
