@layout PetugasLayout

@page "/petugas"

<PageTitle>Petugas Page</PageTitle>


<div class="row no-gutters mx-n2"><div class="col-xl-3 col-lg-6 p-2"><!--!-->    <div class="rz-card card" id="0XnkLFUsuk" _bl_60f0f790-982f-4c7a-8e2d-b32584e49950=""><!--!--><h3>Open Issues</h3>
            <label style="color: #009B51; position: absolute; font-size: 3rem; right: 2rem; top: 1rem">40</label><!--!-->
     
<div class="rz-chart rz-scheme-pastel" style="width: 100%; height: 120px; margin-bottom: -30px;" id="QJprHfBkyk" _bl_57b1b39c-ecb7-4f27-9e87-7daaafa70dac=""><!--!-->
        <svg style="width: 100%; height: 100%"><!--!-->
            <g transform="translate(0, 32)"><!--!-->
                <!--!--><defs><!--!-->
    <clipPath id="clipPathQJprHfBkyk"><!--!-->
        <path d="M 0 56 L 421 56 L 421 0 L 0 0"></path><!--!-->
    </clipPath><!--!-->
</defs><!--!-->
                    <!--!--><!--!-->
                    <!--!--><!--!-->
<g class="rz-column-series rz-series-0"><!--!-->
                <!--!--><path d="M -21.05 50.4 A 0 0 0 0 1 -21.05 50.4 L 21.05 50.4 A 0 0 0 0 1 21.05 50.4 L 21.05 56 L -21.05 56 Z" fill="#009B51" stroke-width="0" style="clip-path: url(#clipPathQJprHfBkyk); -webkit-clip-path: url(#clipPathQJprHfBkyk);"></path><!--!-->
                <!--!--><path d="M 39.09285714285714 39.2 A 0 0 0 0 1 39.09285714285714 39.2 L 81.19285714285715 39.2 A 0 0 0 0 1 81.19285714285715 39.2 L 81.19285714285715 56 L 39.09285714285714 56 Z" fill="#009B51" stroke-width="0" style="clip-path: url(#clipPathQJprHfBkyk); -webkit-clip-path: url(#clipPathQJprHfBkyk);"></path><!--!-->
                <!--!--><path d="M 99.23571428571428 33.599999999999994 A 0 0 0 0 1 99.23571428571428 33.599999999999994 L 141.3357142857143 33.599999999999994 A 0 0 0 0 1 141.3357142857143 33.599999999999994 L 141.3357142857143 56 L 99.23571428571428 56 Z" fill="#009B51" stroke-width="0" style="clip-path: url(#clipPathQJprHfBkyk); -webkit-clip-path: url(#clipPathQJprHfBkyk);"></path><!--!-->
                <!--!--><path d="M 159.3785714285714 28 A 0 0 0 0 1 159.3785714285714 28 L 201.4785714285714 28 A 0 0 0 0 1 201.4785714285714 28 L 201.4785714285714 56 L 159.3785714285714 56 Z" fill="#009B51" stroke-width="0" style="clip-path: url(#clipPathQJprHfBkyk); -webkit-clip-path: url(#clipPathQJprHfBkyk);"></path><!--!-->
                <!--!--><path d="M 219.52142857142854 22.4 A 0 0 0 0 1 219.52142857142854 22.4 L 261.62142857142857 22.4 A 0 0 0 0 1 261.62142857142857 22.4 L 261.62142857142857 56 L 219.52142857142854 56 Z" fill="#009B51" stroke-width="0" style="clip-path: url(#clipPathQJprHfBkyk); -webkit-clip-path: url(#clipPathQJprHfBkyk);"></path><!--!-->
                <!--!--><path d="M 279.6642857142857 0 A 0 0 0 0 1 279.6642857142857 0 L 321.76428571428573 0 A 0 0 0 0 1 321.76428571428573 0 L 321.76428571428573 56 L 279.6642857142857 56 Z" fill="#009B51" stroke-width="0" style="clip-path: url(#clipPathQJprHfBkyk); -webkit-clip-path: url(#clipPathQJprHfBkyk);"></path><!--!-->
                <!--!--><path d="M 339.8071428571428 22.4 A 0 0 0 0 1 339.8071428571428 22.4 L 381.90714285714284 22.4 A 0 0 0 0 1 381.90714285714284 22.4 L 381.90714285714284 56 L 339.8071428571428 56 Z" fill="#009B51" stroke-width="0" style="clip-path: url(#clipPathQJprHfBkyk); -webkit-clip-path: url(#clipPathQJprHfBkyk);"></path><!--!-->
                <!--!--><path d="M 399.95 28 A 0 0 0 0 1 399.95 28 L 442.05 28 A 0 0 0 0 1 442.05 28 L 442.05 56 L 399.95 56 Z" fill="#009B51" stroke-width="0" style="clip-path: url(#clipPathQJprHfBkyk); -webkit-clip-path: url(#clipPathQJprHfBkyk);"></path><!--!-->
        </g>            </g><!--!-->
        </svg><!--!-->
    <!--!-->
</div><!--!-->
</div><!--!-->
</div><!--!-->
    <div class="col-xl-3 col-lg-6 p-2"><!--!-->    <div class="rz-card card" id="DQjS8sExeU" _bl_d3b9dcbb-6f17-4e15-a59d-4da376af2e69=""><!--!--><h3>Closed Issues</h3>
            <label style="color: #F31155; position: absolute; font-size: 3rem; right: 2rem; top: 1rem">113</label><!--!-->
            <!--!--><!--!--><!--!-->
<!--!--><!--!--><!--!-->
  <!--!-->
<!--!-->
                <!--!--><!--!--><!--!-->
  <!--!-->
<!--!-->
                <!--!--><!--!--><!--!-->
  <!--!-->
<!--!-->
                <!--!--><!--!-->
                <!--!--><!--!-->
<!--!-->
<div class="rz-chart rz-scheme-pastel" style="width: 100%; height: 120px; margin-bottom: -30px;" id="YUUFp2l2LU" _bl_6ebfa5fd-fffd-43f9-9c58-d43873bf927d=""><!--!-->
    <!--!--><!--!-->
        <!--!--><!--!-->
        <svg style="width: 100%; height: 100%"><!--!-->
            <g transform="translate(0, 32)"><!--!-->
                <!--!--><defs><!--!-->
    <clipPath id="clipPathYUUFp2l2LU"><!--!-->
        <path d="M 0 56 L 421 56 L 421 0 L 0 0"></path><!--!-->
    </clipPath><!--!-->
</defs><!--!-->
                    <!--!--><!--!-->
                    <!--!--><!--!-->
<g class="rz-column-series rz-series-0"><!--!-->
                <!--!--><path d="M -21.05 44.8 A 0 0 0 0 1 -21.05 44.8 L 21.05 44.8 A 0 0 0 0 1 21.05 44.8 L 21.05 56 L -21.05 56 Z" fill="#F31155" stroke-width="0" style="clip-path: url(#clipPathYUUFp2l2LU); -webkit-clip-path: url(#clipPathYUUFp2l2LU);"></path><!--!-->
                <!--!--><path d="M 39.09285714285714 2.8000000000000043 A 0 0 0 0 1 39.09285714285714 2.8000000000000043 L 81.19285714285715 2.8000000000000043 A 0 0 0 0 1 81.19285714285715 2.8000000000000043 L 81.19285714285715 56 L 39.09285714285714 56 Z" fill="#F31155" stroke-width="0" style="clip-path: url(#clipPathYUUFp2l2LU); -webkit-clip-path: url(#clipPathYUUFp2l2LU);"></path><!--!-->
                <!--!--><path d="M 99.23571428571428 8.399999999999999 A 0 0 0 0 1 99.23571428571428 8.399999999999999 L 141.3357142857143 8.399999999999999 A 0 0 0 0 1 141.3357142857143 8.399999999999999 L 141.3357142857143 56 L 99.23571428571428 56 Z" fill="#F31155" stroke-width="0" style="clip-path: url(#clipPathYUUFp2l2LU); -webkit-clip-path: url(#clipPathYUUFp2l2LU);"></path><!--!-->
                <!--!--><path d="M 159.3785714285714 2.8000000000000043 A 0 0 0 0 1 159.3785714285714 2.8000000000000043 L 201.4785714285714 2.8000000000000043 A 0 0 0 0 1 201.4785714285714 2.8000000000000043 L 201.4785714285714 56 L 159.3785714285714 56 Z" fill="#F31155" stroke-width="0" style="clip-path: url(#clipPathYUUFp2l2LU); -webkit-clip-path: url(#clipPathYUUFp2l2LU);"></path><!--!-->
                <!--!--><path d="M 219.52142857142854 5.600000000000001 A 0 0 0 0 1 219.52142857142854 5.600000000000001 L 261.62142857142857 5.600000000000001 A 0 0 0 0 1 261.62142857142857 5.600000000000001 L 261.62142857142857 56 L 219.52142857142854 56 Z" fill="#F31155" stroke-width="0" style="clip-path: url(#clipPathYUUFp2l2LU); -webkit-clip-path: url(#clipPathYUUFp2l2LU);"></path><!--!-->
                <!--!--><path d="M 279.6642857142857 22.4 A 0 0 0 0 1 279.6642857142857 22.4 L 321.76428571428573 22.4 A 0 0 0 0 1 321.76428571428573 22.4 L 321.76428571428573 56 L 279.6642857142857 56 Z" fill="#F31155" stroke-width="0" style="clip-path: url(#clipPathYUUFp2l2LU); -webkit-clip-path: url(#clipPathYUUFp2l2LU);"></path><!--!-->
                <!--!--><path d="M 339.8071428571428 11.199999999999996 A 0 0 0 0 1 339.8071428571428 11.199999999999996 L 381.90714285714284 11.199999999999996 A 0 0 0 0 1 381.90714285714284 11.199999999999996 L 381.90714285714284 56 L 339.8071428571428 56 Z" fill="#F31155" stroke-width="0" style="clip-path: url(#clipPathYUUFp2l2LU); -webkit-clip-path: url(#clipPathYUUFp2l2LU);"></path><!--!-->
                <!--!--><path d="M 399.95 33.599999999999994 A 0 0 0 0 1 399.95 33.599999999999994 L 442.05 33.599999999999994 A 0 0 0 0 1 442.05 33.599999999999994 L 442.05 56 L 399.95 56 Z" fill="#F31155" stroke-width="0" style="clip-path: url(#clipPathYUUFp2l2LU); -webkit-clip-path: url(#clipPathYUUFp2l2LU);"></path><!--!-->
        </g>            </g><!--!-->
        </svg><!--!-->
    <!--!-->
</div><!--!-->
</div><!--!-->
</div><!--!-->
    <div class="col-xl-3 col-lg-6 p-2"><!--!-->    <div class="rz-card card" id="6xowrO8ATE" _bl_427ac1b6-6988-49c6-91e1-a68918292070=""><!--!--><h3>All Issues</h3>
            <label style="position: absolute; font-size: 3rem; right: 2rem; top: 1rem">153</label><!--!-->
            <!--!--><!--!--><!--!-->
<!--!--><!--!--><!--!-->
  <!--!-->
<!--!-->
                <!--!--><!--!--><!--!-->
  <!--!-->
<!--!-->
                <!--!--><!--!--><!--!-->
  <!--!-->
<!--!-->
                <!--!--><!--!--><!--!-->
  <!--!-->
<!--!-->
                <!--!--><!--!-->
<!--!-->
<div class="rz-chart rz-scheme-pastel" style="width: 100%; height: 120px; margin-bottom: -30px;" id="R5nGcwhpJU" _bl_406e3a40-52dd-420d-be8c-9d3661e1d93a=""><!--!-->
    <!--!--><!--!-->
        <!--!--><!--!-->
        <svg style="width: 100%; height: 100%"><!--!-->
            <g transform="translate(0, 32)"><!--!-->
                <!--!--><defs><!--!-->
    <clipPath id="clipPathR5nGcwhpJU"><!--!-->
        <path d="M 0 56 L 421 56 L 421 0 L 0 0"></path><!--!-->
    </clipPath><!--!-->
</defs><!--!-->
                    <!--!--><!--!-->
                    <!--!--><!--!-->
<g class="rz-line-series rz-series-0"><!--!-->
        <!--!--><path d="M 0 53.2 C 20.047619047619047, 51.333333333333336 40.09523809523809, 49 60.14285714285714, 47.6C 80.19047619047619, 46.2 100.23809523809523, 45.733333333333334 120.28571428571428, 44.8C 140.33333333333331, 43.86666666666666 160.38095238095238, 42.93333333333333 180.42857142857142, 42C 200.47619047619045, 41.06666666666667 220.52380952380952, 41.53333333333334 240.57142857142856, 39.2C 260.6190476190476, 36.86666666666667 280.6666666666667, 28 300.7142857142857, 28C 320.76190476190476, 28 340.8095238095238, 36.86666666666667 360.85714285714283, 39.2C 380.90476190476187, 41.53333333333334 400.95238095238096, 41.06666666666667 421, 42" fill="none" stroke="#009B51" stroke-width="2" style="clip-path: url(#clipPathR5nGcwhpJU); -webkit-clip-path: url(#clipPathR5nGcwhpJU);"></path><!--!-->
      <!--!-->        <!--!--><g class="rz-marker"><!--!-->
</g><!--!-->
        <!--!--><g class="rz-marker"><!--!-->
</g><!--!-->
        <!--!--><g class="rz-marker"><!--!-->
</g><!--!-->
        <!--!--><g class="rz-marker"><!--!-->
</g><!--!-->
        <!--!--><g class="rz-marker"><!--!-->
</g><!--!-->
        <!--!--><g class="rz-marker"><!--!-->
</g><!--!-->
        <!--!--><g class="rz-marker"><!--!-->
</g><!--!-->
        <!--!--><g class="rz-marker"><!--!-->
</g><!--!-->
<!--!-->
    </g><g class="rz-line-series rz-series-1"><!--!-->
        <!--!--><path d="M 0 44.8 C 20.047619047619047, 30.799999999999997 40.09523809523809, 2.8000000000000043 60.14285714285714, 2.8000000000000043C 80.19047619047619, 2.8000000000000043 100.23809523809523, 8.399999999999999 120.28571428571428, 8.399999999999999C 140.33333333333331, 8.399999999999999 160.38095238095238, 2.8000000000000043 180.42857142857142, 2.8000000000000043C 200.47619047619045, 2.8000000000000043 220.52380952380952, 2.8000000000000047 240.57142857142856, 5.600000000000001C 260.6190476190476, 8.399999999999999 280.6666666666667, 22.4 300.7142857142857, 22.4C 320.76190476190476, 22.4 340.8095238095238, 11.199999999999996 360.85714285714283, 11.199999999999996C 380.90476190476187, 11.199999999999996 400.95238095238096, 26.13333333333333 421, 33.599999999999994" fill="none" stroke="#F31155" stroke-width="2" style="clip-path: url(#clipPathR5nGcwhpJU); -webkit-clip-path: url(#clipPathR5nGcwhpJU);"></path><!--!-->
      <!--!-->        <!--!--><g class="rz-marker"><!--!-->
</g><!--!-->
        <!--!--><g class="rz-marker"><!--!-->
</g><!--!-->
        <!--!--><g class="rz-marker"><!--!-->
</g><!--!-->
        <!--!--><g class="rz-marker"><!--!-->
</g><!--!-->
        <!--!--><g class="rz-marker"><!--!-->
</g><!--!-->
        <!--!--><g class="rz-marker"><!--!-->
</g><!--!-->
        <!--!--><g class="rz-marker"><!--!-->
</g><!--!-->
        <!--!--><g class="rz-marker"><!--!-->
</g><!--!-->
<!--!-->
    </g>            </g><!--!-->
        </svg><!--!-->
    <!--!-->
</div><!--!-->
</div><!--!-->
</div><!--!-->
    <div class="col-xl-3 col-lg-6 p-2"><!--!-->    <div class="rz-card card" id="ZShhv7GfGE" _bl_d7902711-5900-4e5d-9500-3e52084d0404=""><!--!--><h3>Progress</h3>
            <!--!-->    <div style="width: 100%; height: 120px; margin-top: -30px;" class="rz-arc-gauge" id="1b8K2D6Csk" _bl_7adc3921-cad7-4375-9970-86a432567f49=""><!--!-->
        <svg style="width: 100%; height: 100%"><!--!-->
            <!--!--><!--!-->
                <!--!--><g class="rz-arc-gauge-scale"><!--!-->
<!--!--><g class="rz-line"><!--!-->
    <!--!--><path class="rz-scale-line" d="M 170.5 96 A 56 56 0 0 1 282.5 96" fill="none" stroke-width="0"></path><!--!-->
</g><!--!-->
<!--!-->
<!--!--><!--!--><path d="M 170.5 96 A 56 56 0 0 1 282.5 96 L 276.9 96 A 50.4 50.4 0 0 0 176.1 96 Z" stroke-width="0"></path><!--!-->
</g><!--!-->
<!--!--><!--!-->
    <!--!--><g class="rz-arc-gauge-scale-value"><!--!-->
    <!--!--><!--!--><path d="M 170.5 96 A 56 56 0 0 1 264.64984017917266 55.00500403337517 L 260.83485616125535 59.104503630037655 A 50.4 50.4 0 0 0 176.1 96 Z" stroke-width="0"></path><!--!-->
</g><!--!-->
<!--!-->
            <!--!-->
        </svg><!--!-->
                <div class="rz-arc-gauge-value" style="left: 226.5px; top: 96px"><!--!-->
74 %                </div><!--!-->
    </div><!--!-->
</div><!--!-->
</div></div>