@layout PetugasLayout

@page "/petugas"

<PageTitle>Petugas Page</PageTitle>


@inject IFcmNotificationService fcmNotification;


<div style="display:flex; justify-content:center; height:100vh; flex-direction:column; align-items:center">
    <img style="width:250px" src="/images/bkkbn1.png" />
    <h1>SELAMAT DATANG</h1>
    <h3>PEMASANGAN ALAT KONTRASEPSI</h3>

</div>




@code{
    protected override Task OnInitializedAsync()
    {
        fcmNotification.SendNotification(new NotificationModel { Body = "", DeviceId = "", Title = "" });

        return base.OnInitializedAsync();
    }

}